* {
	margin: 0;
	padding: 0;
}

header, section, footer {
	margin: 10px auto;
	padding: 20px;
	font-size: 30px;
	max-width: 1000px;
	color: #fff;
	background-color: darkred;
	border-radius: 10px;
}
img {
	width: 50%;
}